{% extends "base.html" %}

{% block content %}
<a href="https://steady-fern-tuberose.glitch.me" class="nubex">Главная</a>
<div style="float: right;">
    <form class="login_form_1">
        <h1>"Кинотеатры РФ"</h1>
    </form>
</div>
{% for item in cinema %}
        <div>
            <form action="" method="post">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Область</th>
                        <th scope="col">Город</th>
                        <th scope="col">Адресс</th>
                        <th scope="col">Название</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ item.region_Mv.title }}</td>
                        <td>{{ item.city_M.title }}</td>
                        <td>{{ item.adress }}</td>
                        <td>{{ item.title }}</td>

                    </tr>
                </tbody>
                </table>
            </form>
        </div>
    {% endfor %}
{% endblock %}
