{% extends "base.html" %}

{% block content %}
<p style="float: right;"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aac360d7b6e73c876d9609ee22874ef595eceee05f133e7bfb4df671ee411248c&amp;width=883&amp;height=356&amp;lang=ru_RU&amp;scroll=true"></script></p>
<div style="float: right;">
    <form class="login_form">
        <h1>Российский туризм</h1>
    </form>
</div>
<div style="float: right;">
    <form class="login_form_1">
        <div style="text-indent:35px;"><p><em><h1>На этом сайте собраны города со всей России: более 300 городов!</h1></em></p></div>
        <div style="text-indent:35px;"><p><em><h1>Именно здесь Вы сможете найти: что можно посетить в любом уголке нашей страны.</h1></em></p></div>
    </form>
</div>
<div style="float: right;">
    <form class="login_form_2">
        <h1>Лучший способ увидеть страну!</h1>
    </form>
</div>
<img style="float: right;" alt="" src="static/img/russia.png">
<a style="float: right;" href="http://steady-fern-tuberose.glitch.me/Theaters_of_the_RF" class="nubex">Театры России</a>
<a style="float: right;" href="http://steady-fern-tuberose.glitch.me/Cinema_RF" class="nubex">Кинотеатры России</a>
<a style="float: right;" href="https://vk.com/public219609269" class="nubex">Мы есть в ВК</a>

<a href="https://steady-fern-tuberose.glitch.me/Altai_Territory" class="nubex">Алтайский край</a>
<a href="https://steady-fern-tuberose.glitch.me/Amur_region" class="nubex">Амурская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Arkhangelsk_region" class="nubex">Архангельская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Astrakhan_region" class="nubex">Астраханская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Belgorod_region" class="nubex">Белгородская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Bryansk_region" class="nubex">Брянская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Vladimir_region" class="nubex">Владимирская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Volgograd_region" class="nubex">Волгоградская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Vologda_region" class="nubex">Вологодская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Voronezh_region" class="nubex">Воронежская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Donetsk_People_s_Republic" class="nubex">Донецкая Народная Республика</a>
<a href="https://steady-fern-tuberose.glitch.me/Jewish_JSC" class="nubex">Еврейская АО</a>
<a href="https://steady-fern-tuberose.glitch.me/Trans_Baikal_Territory" class="nubex">Забайкальский край</a>
<a href="https://steady-fern-tuberose.glitch.me/Zaporozhye_region" class="nubex">Запорожская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Ivanovo_region" class="nubex">Ивановская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Irkutsk_region" class="nubex">Иркутская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Kabardino_Balkarian_Republic" class="nubex">Кабардино-Балкарская Республика</a>
<a href="https://steady-fern-tuberose.glitch.me/Kaliningrad_Region" class="nubex">Калининградская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Kaluga_Region" class="nubex">Калужская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Kamchatka_Territory" class="nubex">Камчатский край</a>
<a href="https://steady-fern-tuberose.glitch.me/Karachay_Cherkess_Republic" class="nubex">Карачаево-Черкесская Республика</a>
<a href="https://steady-fern-tuberose.glitch.me/Kemerovo_Region" class="nubex">Кемеровская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Kirov_Region" class="nubex">Кировская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Kostroma_Region" class="nubex">Костромская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Krasnodarskiy_Territory" class="nubex">Краснодарский край</a>
<a href="https://steady-fern-tuberose.glitch.me/Krasnoyarsk_Territory" class="nubex">Красноярский край</a>
<a href="https://steady-fern-tuberose.glitch.me/Kurgan_Region" class="nubex">Курганская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Kursk_Region" class="nubex">Курская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Leningrad_Region" class="nubex">Ленинградская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Lipetsk_Region" class="nubex">Липецкая область</a>
<a href="https://steady-fern-tuberose.glitch.me/Luhansk_People_s_Republic" class="nubex">Луганская Народная Республика</a>
<a href="https://steady-fern-tuberose.glitch.me/Magadan_Region" class="nubex">Магаданская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Moscow" class="nubex">Москва</a>
<a href="https://steady-fern-tuberose.glitch.me/Moscow_Region" class="nubex">Московская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Murmansk_Region" class="nubex">Мурманская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Nenets_AO" class="nubex">Ненецкий АО</a>
<a href="https://steady-fern-tuberose.glitch.me/Nizhny_Novgorod_Region" class="nubex">Нижегородская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Novgorod_Region" class="nubex">Новгородская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Novosibirsk_Region" class="nubex">Новосибирская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Omsk_Region" class="nubex">Омская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Orenburg_Region" class="nubex">Оренбургская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Oryol_Region" class="nubex">Орловская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Penza_Region" class="nubex">Пензенская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Perm_Territory" class="nubex">Пермский край</a>
<a href="https://steady-fern-tuberose.glitch.me/Primorsky_Territory" class="nubex">Приморский край</a>
<a href="https://steady-fern-tuberose.glitch.me/Pskov_Region" class="nubex">Псковская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Republic_of_Adygea" class="nubex">Республика Адыгея</a>
<a href="https://steady-fern-tuberose.glitch.me/Republic_of_Altai" class="nubex">Республика Алтай</a>
<a href="https://steady-fern-tuberose.glitch.me/Republic_of_Bashkortostan" class="nubex">Республика Башкортостан</a>
<a href="https://steady-fern-tuberose.glitch.me/Republic_of_Buryatia" class="nubex">Република Бурятия</a>
<a href="https://steady-fern-tuberose.glitch.me/Republic_of_Dagestan" class="nubex">Республика Дагестан</a>
<a href="https://steady-fern-tuberose.glitch.me/Republic_of_Ingushetia" class="nubex">Республика Ингушетия</a>
<a href="https://steady-fern-tuberose.glitch.me/Republic_of_Kalmykia" class="nubex">Республика Калмыкия</a>
<a href="https://steady-fern-tuberose.glitch.me/Republic_of_Karelia" class="nubex">Республика Карелия</a>
<a href="https://steady-fern-tuberose.glitch.me/Republic_of_Komi" class="nubex">Республика Коми</a>
<a href="https://steady-fern-tuberose.glitch.me/Republic_of_Crimea" class="nubex">Республика Крым</a>
<a href="https://steady-fern-tuberose.glitch.me/Republic_of_Mari_El" class="nubex">Республика Марий Эл</a>
<a href="https://steady-fern-tuberose.glitch.me/Republic_of_Mordovia" class="nubex">Республика Мордовия</a>
<a href="https://steady-fern-tuberose.glitch.me/Republic_of_Sakha" class="nubex">Республика Саха</a>
<a href="https://steady-fern-tuberose.glitch.me/Republic_of_North_Ossetia_Alania" class="nubex">Республика Северная Осетия-Алания</a>
<a href="https://steady-fern-tuberose.glitch.me/Republic_of_Tatarstan" class="nubex">Республика Татарстан</a>
<a href="https://steady-fern-tuberose.glitch.me/Republic_of_Tyva" class="nubex">Республика Тыва</a>
<a href="https://steady-fern-tuberose.glitch.me/Republic_of_Khakassia" class="nubex">Республика Хакасия</a>
<a href="https://steady-fern-tuberose.glitch.me/Rostov_Region" class="nubex">Ростовская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Ryazan_Region" class="nubex">Рязанская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Samara_Region" class="nubex">Самарская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Saint_Petersburg" class="nubex">Санкт-Петербург</a>
<a href="https://steady-fern-tuberose.glitch.me/Saratov_Region" class="nubex">Саратовская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Sakhalin_Region" class="nubex">Сахалинская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Sverdlovsk_Region" class="nubex">Свердловская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Sevastopol" class="nubex">Севастополь</a>
<a href="https://steady-fern-tuberose.glitch.me/Smolensk_Region" class="nubex">Смоленская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Stavropol_Territory" class="nubex">Ставропольский край</a>
<a href="https://steady-fern-tuberose.glitch.me/Tambov_Region" class="nubex">Тамбовская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Tver_Region" class="nubex">Тверская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Tomsk_Region" class="nubex">Томская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Tula_Region" class="nubex">Тульская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Tyumen_Region" class="nubex">Тюменская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Udmurt_Republic" class="nubex">Удмуртская Республика</a>
<a href="https://steady-fern-tuberose.glitch.me/Ulyanovsk_Region" class="nubex">Ульяновская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Khabarovsk_Territory" class="nubex">Хабаровский край</a>
<a href="https://steady-fern-tuberose.glitch.me/Khanty_Mansiysk_JSC" class="nubex">Ханты-Мансийский АО</a>
<a href="https://steady-fern-tuberose.glitch.me/Kherson_Region" class="nubex">Херсонская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Chelyabinsk_Region" class="nubex">Челябнская область</a>
<a href="https://steady-fern-tuberose.glitch.me/Chechen_Republic" class="nubex">Чеченская Республика</a>
<a href="https://steady-fern-tuberose.glitch.me/Chuvash_Republic" class="nubex">Чувашская Республика</a>
<a href="https://steady-fern-tuberose.glitch.me/Chukotsiy_JSC" class="nubex">Чукотский АО</a>
<a href="https://steady-fern-tuberose.glitch.me/Yamalo_Nenets_JSC" class="nubex">Ямало-Ненецкий АО</a>
<a href="https://steady-fern-tuberose.glitch.me/Yaroslavl_Region" class="nubex">Ярославская область</a>
{% endblock %}
